<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN</title>
    <style>
        h1{text-align: center;
            margin-top: 12%;
            color: blue;
        }
        p{
            text-align: center;
            color: red;
        }
        img{
            margin-left: 32%;
        }
    </style>
</head>
<body>
    <h1>HELLO THIS IS {{name}} AND THIS IS MY DATA BINDING PAGE</h1>
    <p>{{statement}}</p>

    <p>this is how it looks like in the code:</p>
    <img src="/assets/1.png">
    
</body>
</html>
