<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PRELIMS</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    nav {
      background-color: blue;
      color: white;
      text-align: center;
      padding: 10px;
    }

    nav a {
      text-decoration: none;
      color: white;
      padding: 10px 20px;
      display: inline-block;
    }

    nav a:hover {
      background-color: red;
    }
  </style>
</head>
<body>
  <div>
    <nav>
      <a routerLink="/main">One-way</a>
      <a routerLink="/partner">Directives</a>
      <a routerLink="/about">Event</a>
      <a routerLink="/join">Two-way</a>
    </nav>
  </div>
  <router-outlet></router-outlet>
</body>
</html>